.header{
    text-align: center;
    background-image: url(./header-travel.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width:360px){
    .header{
        background-size: 360px;
        height: 200px;
    }
}